@model RestaurantBridgeProject.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavMeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavMeal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavDrink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavDrink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LgstBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LgstBill)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
